.navbar span{
    color:#FFC107;
}

/*carousel starts*/
.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 300px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.carousel-caption p{
    font-size: 18px;
    line-height: 1.9;
}

.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .section-padding {
      margin-top: 80px;
  }
  
  #services services_desc {
      width: 60%;
  }
  
  .card-body .bi {
      font-size: 50px;
  }
/*carousel ends*/ 

/* Best Services start */
.best-services{
    margin-top: 150px;
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: space-around;
}
 
/* best services end */
/* services start */
.services{
    display:flex;
}

.row{
    width: auto;
}

.row div{
    font-size: 15px;
    width: 33%;
}